@import '../styles/variables';

#sheet {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;

  #weave {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 24px;
    grid-gap: 12px 0px;
    padding-top: 24px;

    .nub {
      color: white;
      text-shadow: 1px 1px 0px black, 1px -1px 0px black, -1px -1px 0px black, -1px -1px 0px black;
      // mix-blend-mode: difference;
      outline: 1px solid gray;
      outline-offset: -1px;
      cursor: pointer;
      transition: background-color 0.4s ease-in;
      transition-behavior: allow-discrete;

      &:hover {
        outline-color: white;
      }
    }

    > div {
      --clr-right-0: var(--clr-right-32);
      --clr-left-0: var(--clr-left-32);
      display: flex;
      flex-wrap: nowrap;
      // padding: 2px 1px;
      justify-content: stretch;
      align-items: stretch;
      // background-color: #131313;
      // height: 28px;

      > div {
        flex: 1 1 24px;
        // height: 24px;
        @extend %flex-center;
        font-size: 14px;

        // & + div {
        //   // margin: 0 1px;
        // }
      }

      &.current::before,
      &.current::after {
        color: var(--accent-clr);
      }

      &.right-hand {
        position: relative;
        transform-origin: left bottom;
        transform: translateY(-36px) rotate(-45deg);
        flex-direction: row-reverse;

        @for $i from 1 through 60 {
          &.row-#{$i} {
            background-color: var(--clr-left-#{($i % 32) + 1});

            @for $j from 1 through 60 {
              .strand-#{$j}.under {
                background-color: var(--clr-right-#{(($i + $j) % 32)});
              }
            }
          }
        }

        &::after {
          @extend %flex-center;
          justify-content: flex-start;
          content: attr(data-dir);
          position: absolute;
          top: 0;
          left: calc(100% + 4px);
          transform-origin: left bottom;
          transform: rotateZ(45deg);
          white-space: nowrap;
        }
      }

      &.left-hand {
        position: relative;
        transform-origin: right bottom;
        transform: rotate(45deg) translateX(-26px);

        @for $i from 1 through 60 {
          &.row-#{$i} {
            background-color: var(--clr-right-#{($i % 32) + 1});

            @for $j from 1 through 60 {
              .strand-#{$j}.under {
                background-color: var(--clr-left-#{(($i + $j) % 32) + 1});
              }
            }
          }
        }

        &::before {
          @extend %flex-center;
          justify-content: flex-end;
          content: attr(data-dir);
          position: absolute;
          top: 0;
          right: calc(100% + 4px);
          transform-origin: right bottom;
          transform: rotateZ(-45deg);
          white-space: nowrap;
        }
      }

      .over:hover::before {
        content: "O"
      }
      .under:hover::before {
        content: "U"
      }
    }
  }
}